<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeopardy Game</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Jeopardy Game</h1>

    {% for round_name, categories in grouped_categories.items() %}
    <div class="round">
        <h2>{{ round_name }}</h2>
        <table>
            <tr>
                {% for category in categories %}
                    <th>{{ category.category_name }}</th>
                {% endfor %}
            </tr>
            {% for row in range(5) %}
            <tr>
                {% for category in categories %}
                    {% set clues = clues_by_category[category.category_id] %}
                    <td>
                        {% if row < clues|length %}
                        <ul>
                            <li>
                                <strong>Value:</strong> {{ clues[row].value }}<br>
                                <strong>Question:</strong> {{ clues[row].question }}<br>
                                <strong>Answer:</strong> {{ clues[row].answer }}
                                {% if clues[row].is_daily_double %}<em>(Daily Double)</em>{% endif %}
                                {% if clues[row].is_final_jeopardy %}<em>(Final Jeopardy)</em>{% endif %}
                            </li>
                        </ul>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}

    <script src="/static/js/game.js"></script>

</body>
</html>
